* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.contaner{
    background: rgb(255, 255, 255);
}

.header {
    margin: 40px 0px 84px;
}

.nav__links{
    
}

.top{
    margin-bottom: 259px;
}

.top__h1 {
    margin-bottom: 17px;
}

.top__buttons{
    margin-top: 37px;
}

