// основные цвета
$brend_color: #F16D7F;
$brend_bg_color: #F1E4E6;
$bg_color: #222222;
$title_color: #222224;
$text_color: #6F6E6E;
$dop_text_color: #FBFBFB;
$icon_header_color: #E8E8E8;

// размеры текста
$txt_size: 14px;
$txt_weight: 400;
$txt_height: 17px;

// отступы
$gap: 30px;
