// цвета
$color_brand: #5661CB;
$color_bacground_footer: #F7F7F7;
$color_promo: #D41A36;
$color_bacgroun_icon: #9FA6EE1A;
$color_bacground_input: #F2F3F7;
$color_input_border: #6D6D6DB3;
// цвет текста
$color_title: #272727;
$color_text_nav: #272727;
$color_text: #494949;
$color_text_opacity: #7D7D7D;
$color_text_on_bacground: #FFFFFF;
$color_text_promo: #D41A36;
$color_text_stat: #27AE60;
$color_text_input: #3F414E;
// цвета флажков
$color_flag_price: #DD4747;
$color_flag_delivery: #27AE60E6;
$color_flag_top_item: #F2994A;
// цвета кнопок
$color_button: #5661CB;
$color_button_active: #1D2B5B;
$color_button_on_bacgraund: #FFFFFF;
$color_button_promo: #D41A36;

///
// // // размеры текстов
// // кнопки
$weight_button: 400;

$size_button_big: 18px;
$height_button_big: 21px;

$size_button_medium: 16px;
$height_button_medium: 19px;

$size_button_small: 14px;
$height_button_small: 16px;

$size_button_extra-small: 12px;
$height_button_extra-small: 14px;

// // ссылки
$size_link_xxl: 24px;
$weight_link_big: 500;
$height_link_xxl: 28px;

$size_link_xl: 22px;
$weight_link_medium: 400;
$height_link_xl: 26px;

$size_link_big: 20px;
$weight_link_small: 300;
$height_link_big: 23px;

$size_link_medium: 18px;
$height_link_medium: 21px;

$size_link_small: 16px;
$height_link_small: 19px;

$size_link_exstra-small: 14px;
$height_link_exstra-small: 16px;

$size_link_xs: 12px;
$height_link_xs: 14px;

$size_link_xxs: 11px;
$height_link_xxs: 13px;


// // текст
// заголовки
$size_title_xxl: 42px;
$weight_title_big: 700;
$height_title_xxl: 130%;

$size_title_xl: 36px;
$weight_title_medium: 600;
$height_title_xl: 43px;

$size_title_big: 24px;
$weight_title_small: 500;
$height_title_big: 29px;

$size_title_medium: 20px;
$weight_title_xs: 400;
$height_title_medium: 24px;

$size_title_small: 16px;
$height_title_small: 19px;

$size_title_extra-small: 14px;
$height_title_extra-small: 16px;

$size_title_xs: 12px;
$height_title_xs: 14px;

// // текст
$size_text_big: 16px;
$weight_text_big: 400;
$height_text_big: 19px;

$size_text_medium: 14px;
$weight_text_medium: 300;
$height_text_medium: 16px;

$size_text_small: 12px;
$height_text_small: 14px;

$size_text_extra-small: 10px;
$height_text_extra-small: 12px;

// // инпуты
$size_input_big: 16px;
$weight_input_big: 400;
$height_input_big: 19px;

$size_input_medium: 14px;
$weight_input_medium: 300;
$height_input_medium: 16px;

$size_input_small: 12px;
$height_input_small: 14px;

$size_input_extra-small: 10px;
$height_input_extra-small: 11px;
