*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

a {
    text-decoration: none;
    transition: .3s;
}

li{
    list-style-type: none;
}

img{
    width: 100%;
    height: 100%;
}

input{
    outline: none;
}

summary{
    list-style: none;
}

address{
    font-style: normal;
}

.center{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.hiden{
    display: none;
}

.button{
    border: none;
}